// set custom hex colors
$siteBgColorCustom: #f5f5f2;
$sidebarBgColorCustom: #eaeae6;
$textColorCustom: #3d3d3b;
$sidebarTextColorCustom: #3d3d3b;
$headlineColorCustom: #103742;
$headingColorCustom: #103742;
$bodyLinkColorCustom: #a30015;
$navLinkColorCustom: #103742;
$sidebarLinkColorCustom: #a30015;
$footerTextColorCustom: #6b6966;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #a30015;
$borderColorCustom: #d0cdc8;
