{{- /*
  Posts from the Substack RSS feed (site.Params.substack.feed), fetched at build
  time. Returns a slice of dicts {date, title, url, summary, source}. If the feed
  can't be fetched, warns and returns nothing so the build still succeeds.
*/ -}}
{{- $out := slice -}}
{{- with site.Params.substack.feed -}}
  {{- $res := try (resources.GetRemote .) -}}
  {{- if $res.Err -}}
    {{- warnf "Substack feed unavailable, skipping: %s" $res.Err -}}
  {{- else if $res.Value -}}
    {{- $rss := $res.Value | transform.Unmarshal -}}
    {{- $list := $rss.channel.item | default slice -}}
    {{- if reflect.IsMap $list }}{{ $list = slice $list }}{{ end -}}
    {{- range $list -}}
      {{- $summary := .description | default "" | plainify | htmlUnescape | strings.TrimSpace | truncate 220 -}}
      {{- $out = $out | append (dict
          "date" (time.AsTime .pubDate)
          "title" (.title | htmlUnescape)
          "url" .link
          "summary" $summary
          "source" "Substack") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $out -}}
